{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Создание преподавателя</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('teacher') }}">
            Вернуться к списку
        </a>
    </li>
</ul>
{% endblock %}
