{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Добавление оценки</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('marks') }}">
            Вернуться к списку
        </a>
    </li>
</ul>
{% endblock %}
